<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<base href="/"> <!-- This base tag is necessary to route in Angular Two -->
		<title>Family Members</title>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script><!-- jQuery -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!-- Bootstrap Core JavaScript -->
		
		<!-- Bootstrap Core CSS -->
		<link href="https://bootswatch.com/darkly/bootstrap.css" rel="stylesheet">
		
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
	
		<!--[if lt IE 9]>
		<script>
			alert("This site is not working on old version of IE (< 9).");
			window.history.back();
			location.href='https://google.com'; // in case of initial search
		</script>
		<![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="../" class="navbar-brand">Family</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li>
					<a href="./family/junyeong">Junyeong Yu</a>
				</li>
				<li>
					<a href="./family/jungmyo">Jungmyo Yu</a>
				</li>
				<li>
					<a href="./family/aeja">Aeja</a>
				</li>
				<li>
					<a href="./family/jongrak">Jongrak Yu</a>
				</li>
			</ul>
		</div>
	</div>
</div>
