<%- include('../partials/header'); %>

<div class="container">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 id="containers">Aeja Jung</h1>
		</div>
		<div class="bs-component">
			<div class="jumbotron">
				<h1>Mother</h1>
				<p>
					I thought I did not resemble my mother since her idea and my idea were totally different before.
					However, I have realized that we have many similar characteristics and way to see the world is also similar.
					She is smart and realistic. However, she tends to be affected by surround people many times.
				</p>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer'); %>