<%- include('../partials/header'); %>

<div class="container">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 id="containers">Jongrak Yu</h1>
		</div>
		<div class="bs-component">
			<div class="jumbotron">
				<h1>Father</h1>
				<p>
					He is traditional father in South Korea culture.
					He did not tell that he loved us but he shows efforts by the action.
					He disappeared but still live in our hearts.
				</p>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer'); %>