<%- include('../partials/header'); %>

<div class="container">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 id="containers">Jungmyo Yu</h1>
		</div>
		<div class="bs-component">
			<div class="jumbotron">
				<h1>Sister</h1>
				<p>
					Before she got married, she was pretty, but now is just my yonger sister.
					She has two children and are strongly interested in their future.
					She is good at drawing picture and making some stuff.
					She is kind of optimistic person, and she like stable life instead of challenging new things.
				</p>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer'); %>