<%- include('../partials/header'); %>

<div class="container">
	<div class="col-lg-12">
		<div class="page-header">
			<h1 id="containers">Junyeong Yu</h1>
		</div>
		<div class="bs-component">
			<div class="jumbotron">
				<h1>I (Myself)</h1>
				<p>
					I did not find the people who are similar to me.
					I used to live in South Korea but now live in Canada.
					I generally feel happy when I am abroad because I can find some interesting things.
					I do not like repeated life, but I like unpredictable life.
					If life is predictable, it will be severely boring life. 
				</p>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer'); %>